<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/layout.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="leftMenuDiv">
    <a href="/rain">레인게임</a><br/>
    <a href="/bingo">빙고게임</a><br/>
    <a href="/car">경주게임</a><br/>
</div>
<div class="gameContent">
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</div>
<div class="clearDiv"></div>
</body>
</html>
