{% extends 'layout.html' %}

{% block content %}
<div class="rainGameWholeDiv">
    <div class="rainGameDiv">
        <input type="text" class="rainInputDiv" onkeyup="endterKey(this)">
    </div>
    <div class="rainScoreDiv">
        <input type="text" value="0" class="rainScoreOwn">
    </div>
    <div class="clearDiv">
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/socket.io/socket.io.js"></script>
<script type = "text/javascript">
    
    const socket = io.connect('http://localhost:8080/rain', {
        path: '/socket.io'
    });

    var idNum = 0;
    //21.09.20 새로운 단어 등장
    function newRainDropText(){
        idNum = idNum + 1;
        var rainDropText = document.createElement('Div');
        rainDropText.className += ' rainDropText';

        var randomNum = Math.floor(Math.random() * 5)+1;
        rainDropText.className += ' rainDrop_'+randomNum;
        rainDropText.id += 'rainDropID_'+idNum;

        //21.09.21 단어 불러오기 > pullNewRainCommand : 새로운단어출력요청 / pushNewRainCommand : 새로운단어출력동작
        socket.emit('pullNewRainCommand');
        socket.on("pushnewRainCommand", data => {
            $("#rainDropID_"+idNum).html(data);
        });

        $(".rainGameDiv").append(rainDropText);
    }

    //21.09.20 단어하단으로 이동
    function moveDown(){
        $(".rainDropText").each(function(){
            var gridRowOri = Number($(this).css("grid-row-start"));
            if(gridRowOri==9){
                stopGame();
            }
            var gridRowMod = gridRowOri+1;
            //21.09.20 css는 숫자로 변경 안되고 문자로 변경해야됨.
            $(this).css('grid-row-start',String(gridRowMod));
        });
    }

    //21.09.20 게임 멈춤 처리
    function stopGame(){
        //반복interval정지처리
        clearInterval(rainingMotion);
        updateScoreFun();
    }

    //21.09.21 점수 socket.emit 처리
    function updateScoreFun(){
        //score저장처리
        var rainScoreOwn = $(".rainScoreOwn").val();
        socket.emit("updateScore",rainScoreOwn);
    }
    
    var rainingMotion = setInterval(()=>{
        moveDown();
        newRainDropText();
    },500);

    //21.09.20 엔터키 클릭 시
    function endterKey(obj){
        //엔터 클릭하였을 경우,
        if (window.event.keyCode == 13) {
            $(".rainDropText").each(function(){
                if($(this).html()==$(obj).val()){
                    //입력한 단어와 동일하게 입력하였을 경우, 해당 단어 삭제처리 및 점수 +1
                    $(this).remove();
                    var rainScoreOwn = $(".rainScoreOwn").val();
                    $(".rainScoreOwn").val(Number(rainScoreOwn)+1);
                    //하단을 추가해야지 동일한 단어가 등장하여도 하나만 삭제됨
                    return false;
                }
            });
            $(obj).val("");
            updateScoreFun();
        }
    }
</script>
{% endblock %}