.leftMenuDiv{
    width: 20%;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
}
.gameContent{
    width: 700px;
    height: 700px;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
}
.clearDiv{
    float: none;
    clear: both;
}

/*21.09.20 레인게임작동*/
.rainGameWholeDiv, .beforeRainGameWholeDiv .afterRainGameWholeDiv{
    width: 100%;
    height: 100%;
}
.rainGameDiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 80%;
    height: 100%;
    float: left;
}
.rainInputDiv{
    grid-column:1;
    grid-row:11; 
}
.rainScoreDiv{
    width: 20%;
    height: 20%;
    float: right;
}
.rainDropText{
    border: 1px solid pink;
    box-sizing: border-box;
}

.rainDrop_1{
    grid-column: 1;
    grid-row-start: 1;
    background-color: red;
}
.rainDrop_2{
    grid-column: 2;
    grid-row-start: 1;
    background-color: aqua;
}
.rainDrop_3{
    grid-column: 3;
    grid-row-start: 1;
    background-color: aquamarine;
}
.rainDrop_4{
    grid-column: 4;
    grid-row-start: 1;
    background-color: bisque;
}
.rainDrop_5{
    grid-column: 5;
    grid-row-start: 1;
    background-color:blueviolet;
}

/*21.09.30 버튼*/
#startBtn{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.btn{
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 30px;
}
.redBtn{
    background-color: #f97e7e;
    color: white;
}
.yellowBtn{
    background-color: #b9e75c;
    color: #424242;
}

/*21.09.30 테이블*/
.tble{
    border: 1px solid black;
    border-collapse: collapse;
}
.tble td {
    border: 1px solid black;
}

.rainScoreOwn{
    border: 0px;
    width: 20px;
}